<section class="main">
  <div class="row bottom-pagination">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2">
          <a href="#test1">
            <i class="material-icons">zoom_out</i>
            全部
          </a>
        </li>
        <li class="tab col s2">
          <a href="#test2">
            <i class="material-icons">done</i>
            正常
          </a>
        </li>
        <li class="tab col s2">
          <a class="active" href="#test3">
            <i class="material-icons">stop</i>
            迟到
          </a>
        </li>
        <li class="tab col s2">
          <a href="#test4">
            <i class="material-icons">fast_rewind</i>
            早退
          </a>
        </li>
        <li class="tab col s2">
          <a href="#test5">
            <i class="material-icons">my_location</i>
            旷课
          </a>
        </li>
        <li class="tab col s2">
          <a href="#test6">
            <i class="material-icons">info</i>
            请假
          </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="collections-page">
    <div id="test1" class="col s12">
      <ul class="collection">
        <li class="collection-item">Alvin</li>
        <li class="collection-item">Alvin</li>
        <li class="collection-item">Alvin</li>
        <li class="collection-item">Alvin</li>
      </ul>
    </div>
    <div id="test2" class="col s12">正常</div>
    <div id="test3" class="col s12">
      <div class="row">
        <ul class="collection col s12 m8 offset-m2">
          <li class="collection-item">
            <div>
              Alvin
              <a href="#!" class="secondary-content">

                <!-- Dropdown Trigger -->
                <a class='dropdown-button btn secondary-content' href='#' data-activates='dropdown1'>正常</a>
                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                  <li>
                    <a href="#!">one</a>
                  </li>
                  <li>
                    <a href="#!">two</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#!">three</a>
                  </li>
                </ul>
              </a>
            </div>
          </li>
          <li class="collection-item">
            正常
            <div class="waves-effect waves-light btn secondary-content">正常</div>
          </li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
        </ul>
      </div>
    </div>
    <div id="test4" class="col s12">早退</div>
    <div id="test5" class="col s12">旷课</div>
    <div id="test6" class="col s12">请假</div>
  </div>
</section>
